<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Diario Dietético
      </span>
      
          <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </div>
    </ion-toolbar>
     
</ion-header>


<ion-content padding>
  <ion-grid>
      <ion-list class="dias">
          <ion-item >
            <ion-select placeholder="Días" text-center>
              <ion-select-option value="l">Lunes</ion-select-option>
              <ion-select-option value="m">Martes</ion-select-option>
              <ion-select-option value="x">Miércoles</ion-select-option>
              <ion-select-option value="j">Jueves</ion-select-option>
              <ion-select-option value="v">Viernes</ion-select-option>
              <ion-select-option value="s">Sabado</ion-select-option>
              <ion-select-option value="d">Domingo</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-list>



    <ion-row>
      <ion-col style=" margin-left: 5%; padding-top: 20px;">
        <div class="titulo"><h1>Desayuno</h1></div>
        <div class="agregar"> + Agregar Alimento</div>
      </ion-col>    
    </ion-row>
    <ion-row>
        <ion-col style="margin-left: 5%;padding-top: 20px;">
          <div class="titulo"><h1>Media Mañana</h1></div>
          <div class="agregar"> + Agregar Alimento</div>
        </ion-col>    
      </ion-row>
      <ion-row>
          <ion-col style="margin-left: 5%;padding-top: 20px;">
            <div class="titulo"><h1>Comida</h1></div>
            <div class="agregar"> + Agregar Alimento</div>
          </ion-col>    
        </ion-row>
        <ion-row>
            <ion-col style="margin-left: 5%;padding-top: 20px;">
              <div class="titulo"><h1>Media Tarde</h1></div>
              <div class="agregar"> + Agregar Alimento</div>
            </ion-col>    
          </ion-row>
          <ion-row>
              <ion-col style="margin-left: 5%; padding-top: 20px;">
                <div class="titulo"><h1>Cena</h1></div>
                <div class="agregar"> + Agregar Alimento</div>
              </ion-col>    
            </ion-row>
  </ion-grid>

</ion-content>
