<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
  <ion-back-button color="primary" defaultHref="/"></ion-back-button>
  <ion-grid>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-row  text-center >
        <ion-col col-4 >
          <div style="color:#BB1D1D ;margin-top:15px; font-weight: bold;" >
            Nº Historial
          </div>
          <div class="cajatexto" style="width:55px;"><!-- se le pone estilo propio para no afectar alos demas div-->
            <ion-input formControlName="numeroHistorial"  type="text"  class="inputexto"  style="margin-left:-5px"></ion-input>
          </div>
        </ion-col>
        <ion-col col-4 >
        <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos" (click)="getPicture()"></ion-icon>
          <div  class="circular">
            <a (click)="getPicture()">
              <img  class="circular" [src]="image" *ngIf="image" />
            </a>
          </div>
        </ion-col>
        <ion-col col-4>
          <div style="color:#BB1D1D; margin-top:15px; font-weight: bold;">
            Fecha </div>
          <div class="cajatexto" style="width:120px; ">
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </div>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col text-center > <div style="color:#BB1D1D; font-size: 20px; font-weight: bold; margin-top: 14px;">Datos </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input class="cajatexto" formControlName="nombreApellido" placeholder="Nombre y Apellido">  </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input class="cajatexto" style="margin-left:18px;" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento"></ion-input>
        </ion-col>
        <ion-col col-12>
          <ion-input class="cajatexto" formControlName="ciudad" style="margin-right:16px;" placeholder="Ciudad"> </ion-input>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-12>
          <ion-input class="cajatexto" formControlName="correo" placeholder=" Nuevo Correo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input class="cajatexto" type="number" formControlName="telefono" placeholder=" Nuevo Teléfono"> </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input class="cajatexto" formControlName="profesion" placeholder=" Nueva Profesión"> </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input class="cajatexto" formControlName="motivoConsulta" placeholder="Motivo de Consulta"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="peso" placeholder="Peso"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="pesoAnterior" placeholder="Peso Anterior"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="pesoObjetivo" placeholder="Peso Objetivo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="pesoPerdido" placeholder="Peso Perdido"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="estasObjetivo" placeholder=""></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="altura" placeholder="Altura"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="edad" placeholder="Edad"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="imc" placeholder="IMC"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="number" class="cajatexto" formControlName="bono" placeholder="Bonos"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input type="text" class="cajatexto" formControlName="referencia" placeholder="Referencia"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
      </ion-row>
      <ion-row >
        <ion-col >
          <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
          <div class="cajatexto">
            <ion-input formControlName="interNombre"  type="text" class="inputexto2" placeholder=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col >
          <div  style="font-weight: bold; margin: 5px; margin-left: 10px; font-size: 12px;">Enfermedades Anteriores: </div>
          <div class="cajatexto">
            <ion-input formControlName="enfermedades"  type="text" class="inputexto2"  placeholder=""></ion-input>
          </div>
        </ion-col>
        <ion-col >
          <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Familiares  : </div>
          <div class="cajatexto" >
            <ion-input formControlName="familiares"  type="text" class="inputexto2"  placeholder=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <div>
        <ion-row style="text-align:center;" padding-top >
          <ion-col size="6">
            <ion-button type="submit" ion-button class="but" [disabled]="!validations_form.valid" round>Aceptar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button type="submit" ion-button class="but" (click)="delete()" round>Borrar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </ion-grid>
</ion-content>
