<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding>
    <button routerLink="/home-admin"><img src="../../../assets/imgs/retroceso.png" style=" position: absolute; margin-left: 2%"></button>
<form padding [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-grid margin-bottom>
    <ion-col col-12 text-center>
        <h6>Ley de Proteccion de Datos</h6>
    </ion-col>
  <ion-row >
      <div>
      <ion-col col-12>
        <p text-justify class="ley">
            La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos privacidad personal y familiar.
            Fue aprobada por las Cortes Generales el 13 de diciembre de 1999 y derogada con la entrada en 
              General de Protección de Datos de la Unión Europea. <a href="#" color="primary">Más info.</a>
        </p>
      </ion-col>
    </div>
    <div>
      <div class="title">Firma</div>
      <ion-row [ngClass]="{'drawing-active': isDrawing}">
        <ion-col></ion-col>
        <ion-col>
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </ion-col>
        <ion-col></ion-col>
    
      </ion-row>
    
  <!-- <ion-row>
        <ion-col></ion-col>
        <ion-col width-80>
          <img [src]="signature"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>-->
    </div>
  </ion-row>
</ion-grid>
<div class="cFirma">
<div >Firma :</div>
<!--<textarea style="margin:3px 0; margin-left: 10%;" rows="7" cols="36"></textarea>-->
<input formControlName="nombre" type="text" placeholder="Nombre Completo" class="cajatexto">
<input formControlName="identidad" type="text" placeholder="Nº de identidad" class="cajatexto">
<div>
<ion-label>Fecha</ion-label>
<ion-datetime display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" formControlName="fecha" class="cajatexto"></ion-datetime>
</div>
<div  style="text-align: center ;margin-top:5px;">
  <ion-col size="12">
    <div>
      <ion-label class="label label-ios">
        <ion-checkbox formControlName="check" class="check" color="primary" checked="false"></ion-checkbox>
        <p class="terminos"> Haciendo click aquì acepto los terminos y condicione..</p>
      </ion-label>
    </div>
  </ion-col>
  <div>
    <ion-col size="6">
        <ion-button size="small" color="danger" class="but" (click)="clearPad()">Limpiar</ion-button>
    </ion-col>
    <ion-col size="6">
    <ion-button type='submit' ion-button color="primary" class="but" [disabled]="!validations_form.valid" (click)="savePad()"round>Adelante</ion-button>
  </ion-col>
  </div>
  </div>
</div>

</form>
</ion-content>
