<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding margin-top>
    <h4>
      <button routerLink="/nueva-dieta"><img src="../../../assets/imgs/retroceso.png" style="background: none; position: absolute; margin-left: -100px; margin-top: -15px;"></button> 
      Menús
    </h4>
    <ion-grid margin-top>
    <ion-row margin-top>
    <ion-col>
        <div routerLink="/menus"  class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/diarioDietetico.png">
            <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 1</p>
          </div>
    </ion-col>
    <ion-col>
         <div  routerLink="/menus" class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
            <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 2</p>
          </div>
    </ion-col>
    <ion-col>
        <div  routerLink="/menus" class="bot bot_irHistoryClinico">
           <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
           <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 3</p>
         </div>
   </ion-col>
    </ion-row>
    <ion-row margin-top>
        <ion-col>
            <div routerLink="/menus"  class="bot bot_irHistoryClinico">
                <img src="../../../assets/imgs/bot_cliente_seguimiento/diarioDietetico.png">
                <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 4</p>
              </div>
        </ion-col>
        <ion-col>
             <div  routerLink="/menus" class="bot bot_irHistoryClinico">
                <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
                <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 5</p>
              </div>
        </ion-col>
        <ion-col>
            <div  routerLink="/menus" class="bot bot_irHistoryClinico">
               <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
               <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 6</p>
             </div>
       </ion-col>
        </ion-row>
        <ion-row margin-top>
            <ion-col>
                <div routerLink="/menus"  class="bot bot_irHistoryClinico">
                    <img src="../../../assets/imgs/bot_cliente_seguimiento/diarioDietetico.png">
                    <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 7</p>
                  </div>
            </ion-col>
            <ion-col>
                 <div  routerLink="/menus" class="bot bot_irHistoryClinico">
                    <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
                    <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 8</p>
                  </div>
            </ion-col>
            <ion-col>
                <div  routerLink="/menus" class="bot bot_irHistoryClinico">
                   <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
                   <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menú 9</p>
                 </div>
           </ion-col>
            </ion-row>
    </ion-grid>
</ion-content>
