<app-cabecera [titulohead]="tituhead"></app-cabecera>




<ion-content padding>
  <button routerLink="/tabs/tab1"><img src="../../../assets/imgs/retroceso.png" style=" position: absolute; margin-left: 2%"></button>
 <ion-grid style="margin-top:50px;">
 <ion-col>
    <h3>Desayuno: <strong>  Elige entre el 1 y el 2</strong></h3>
  </ion-col> 
    <p>1.-Café con Leche Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maxime temporibus magnam. Non voluptatibus molestiae ullam iure dolorum quidem, </p>
    <p>2.-Cereales Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam.</p>
    <ion-col>
    <h3 style="margin-top: 10px; font-size: 15px;"><strong>Lunes:</strong></h3>
  <h5>Comida: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
  <h5>Cena: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
</ion-col>
<ion-col>
    <h3 style="margin-top: 10px; font-size: 15px;"><strong>Martes:</strong></h3>
  <h5>Comida: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
  <h5>Cena: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
</ion-col>
<ion-col>
    <h3 style="margin-top: 10px; font-size: 15px;"><strong>Miércoles:</strong></h3>
  <h5>Comida: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
  <h5>Cena: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
</ion-col>
<ion-col>
    <h3 style="margin-top: 10px; font-size: 15px;"><strong>Jueves:</strong></h3>
  <h5>Comida: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
  <h5>Cena: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum, laudantium, necessitatibus.</p></h5>
</ion-col>
</ion-grid>
  </ion-content>
