<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
  <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        <ion-item *ngFor="let item of items">
        <ion-list>
          <div [routerLink]="['/detalles-historial-fisico', item.payload.doc.id]" class="cajabuscador">
          <ion-label>Paciente: {{item.payload.doc.data().nombre}}</ion-label>
          </div>
        </ion-list>
      </ion-item>


  <div text-center>
  <ion-button (click)="goAgregar()" expand="block" size="small" class="boton">Agregar Paciente</ion-button>
  </div>
</ion-content>
