<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Centro ACU 10
      </span>
      
          <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </div>
    </ion-toolbar>
     
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row >
          <ion-col>
              <button routerLink="/cliente-perfil"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%"></button> 
                <div class="circular">
                  <img   class="circular" src="../../../assets/imgs/foto_cliente.jpg" >
               </div>
          </ion-col>
        </ion-row>
        <ion-row style='margin-bottom:10px;'>
            <ion-col text-center>
  

      
                <p style='margin-bottom:5px;font-weight:bold; margin-top: 10px'>NOMBRE CLIENTE</p>
           </ion-col>
          </ion-row >
          <ion-row>
          <div class="botones"><ion-button style="--border-radius: 20px; text-transform: none; width: 100%;     font-style: normal;
            font-weight: 100;
            font-size: 20px;
            line-height: normal;" >Eliminar Perfil</ion-button></div>
          <div class="botones"><ion-button style="--border-radius: 20px; text-transform: none; width: 100%;
               font-style: normal;
              font-weight: 200;
             font-size: 20px;
            line-height: normal;" >Desactivar Perfil</ion-button></div>
                      <div class="botones"><ion-button style="--border-radius: 20px; text-transform: none; width: 100%;
                        font-style: normal;
                       font-weight: 200;
                      font-size: 20px;
                     line-height: normal;" (click)="goEditar()" >Editar Perfil</ion-button></div>
        </ion-row>
          </ion-grid>

</ion-content>
