<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
    <ion-grid>

        <ion-row style='margin-bottom:10px;'>
            <ion-col text-center>
                <div *ngFor="let item of items">
                  <p style='margin-bottom:5px;font-weight:bold; margin-top: 10px'>{{item.payload.doc.data().nombreApellido}}</p>
              </div>
          </ion-col>
          </ion-row >
          <ion-row>
          <div class="botones">
            <ion-button (click)="goEditar()" style="--border-radius: 20px; text-transform: none; width: 100%;     font-style: normal;
            font-weight: 100;
            font-size: 20px;
            line-height: normal;" >Eliminar Perfil</ion-button></div>

<div class="botones">
    <ion-button  style="--border-radius: 20px; text-transform: none; width: 100%;     font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: normal;" (click)="onLogout()" type="submit">Cerrar Sesión</ion-button></div>

          <div class="botones">
            <ion-button 
            style="--border-radius: 20px; text-transform: none; width: 100%;
                        font-style: normal;
                      font-weight: 200;
                      font-size: 20px;
                    line-height: normal;" (click)="goEditar()" >Editar Perfil</ion-button></div>
        </ion-row>
          </ion-grid>

</ion-content>
