<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding margin-top>
    <h4>
        <ion-back-button defaultHref="/"></ion-back-button>
      Menús
    </h4>
    <ion-grid margin-top>
    <ion-row margin-top>
        <ion-row margin-top>
            <ul *ngFor="let item of items" >
                <ion-col [routerLink]="['/detalles-menu-cena', item.payload.doc.id]">
                    <div   class="bot bot_irHistoryClinico">
                      <img src="../../../assets/imgs/bot_cliente_seguimiento/menus.png">
                        <p style="font-size:13px; font-weight: bold; margin-top:-20%">{{item.payload.doc.data().nombreMenu}}</p>
                      </div>
                </ion-col>
                </ul>
              </ion-row>
              <ion-row>
    
    <ion-col *ngIf="isAdmin === true">
        <div  class="bot bot_irHistoryClinico" (click)="crearCena()">
            <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos"></ion-icon>
            <p style="font-size:13px; font-weight: bold; margin-top:-5%">Añadir Dieta</p>
          </div>
    </ion-col>
            </ion-row>
            </ion-row>
    </ion-grid>
</ion-content>
