
<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
    <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        <ion-col >
                <div class="busqueda" >
                <ion-searchbar [(ngModel)]="searchText" placeholder="Busca Nombre" style=" border-radius: 50px;"></ion-searchbar>
                </div>
                
            </ion-col>
    <div class="titulo">
        <h2 style="color: #BB1D1D; font-weight: bold;">Citas Disponibles</h2>
    </div>
    <ion-list *ngIf="items">
            <div *ngIf="items.length > 0">
                        <ion-item *ngFor="let item of items" >
                       <div *ngIf="item.payload.doc.data().titulo && item.payload.doc.data().titulo.length"  class="contenido">
                            <div *ngIf="item.payload.doc.data().titulo.includes(searchText) ">  
        <ion-card [routerLink]="['/detalles-citas', item.payload.doc.id]">
            <ion-card-header>
                    <ion-item color="primary">
                          Paciente: <span style="font-weight: bold; color: white; margin-left: 3px;">{{item.payload.doc.data().titulo}}</span>
                    </ion-item>
            </ion-card-header>
            <ion-card-content>
                    <ion-item  color="primary">
                        Fecha de cita: <span style="margin-left: 10px; font-weight: bold; color: white;">{{item.payload.doc.data().fecha}}</span>
                    </ion-item>
                </ion-card-content>
                </ion-card>

                </div>
                </div>
                </ion-item>
                </div>
                
    </ion-list>
</ion-content>