<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content *ngIf="isPasi === true">
    <ion-col col-4>
        <ion-button color="primary"  (click)="onLogout()" class="botones" round>
        <img src="../../../assets/imgs/bot_cliente_seguimiento/ajustesacu.png" class="boton">Cerrar Sesión
        </ion-button>
        </ion-col>

    <ion-row margin-top style="margin-top:5%">
        


        <ion-col col-4 >
        <div routerLink="/lista-citas-pacientes" class="bot bot_seguimiento">
          
        <img src="../../../assets/imgs/bot_cliente_seguimiento/Nueva1-cita.png">
        <p style="font-size:28px">Próxima Cita</p>
      </div>
        </ion-col>
        <div  class="bot bot_ejercicio" routerLink="/tabs/tab5">
          
          <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio2.png">
          <p style="font-size:28px; color: #000; float: left; margin-top: 28px;">Ejercicio</p>
          <!--<div class="kilometros">2.1Km<div><img src="../../../assets/imgs/ejercicios/andar.png" style="width:30px; height: 30px; margin-top: -7px;"></div></div>  -->
        </div>
        </ion-row>

          <hr>
          <hr>


          <div>
            <div  >
              <ion-grid>
                <ion-row text-center>
                  <ion-col size="6">
                    <div text-center>
                    <h5 style="color:#BB1D1D"><b> Tú Peso</b></h5>
                  </div>
                    <p style="color:black">{{item.payload.doc.data().peso}} KG</p>
                  </ion-col>
                  <ion-col size="6">
                    <h5 style="color:#BB1D1D"><b>Tú IMC</b></h5>
                    <p style="color:black">{{item.payload.doc.data().imc}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>
</ion-content>

<div *ngIf="isAdmin === true" text-center>
    <ion-button expand="block" class="centrado" routerLink="/tabs/tab1" >Acceder</ion-button>
    </div>

