 
    *{
        margin:0px;
        padding:0px;
    }

    //CABEZERA

     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }

   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
     //FIN DE LA CABEZERA

     .circular {
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border-radius: 50% ;
        position:absolute;
        bottom: 1px;
        left:10px;
        padding-bottom: 5px;
      }
      
      .circular img{
       width: 100%;
       height: 100%;
       border:2px solid #000;
      
      }

      .textoBoton{
        color:white;
        position: absolute;
        
        bottom: 8px;
      } 
      
      .bot{
      width: 90%;
      height: 130px;
      margin: 0 auto;
      margin-bottom: 10%;
      background: #BB1D1D;
      border: 0.5px solid #3B3B3B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px; 
      text-align: center;
      
      }

      .bot img{
         width: 40%;
         height: 90%;
         margin-left: 10px;
         float: left;
         
      }
      .bot p{
         color: #ffffff;
         padding-top: 15px;

         margin-top: 20px;

      }
      .fech{
        margin-top: 5px;
        font-size: 13px;
      }

      .bot_ejercicio{
        background: #EBEBEB;;
      }

      .kilometros{
        position: absolute;
        display: flex;
        margin-top: 28%;
        margin-left: 50%;
      }

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
GRAFICO LINEAL
******************************************/

.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; transform: rotate(65deg);}
[data-valor='13'] {width: 39px; transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; transform: rotate(50deg);}
[data-valor='23'] {width: 69px; transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; transform: rotate(75deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);  
}
[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}


