<app-cabecera [titulohead]="tituhead"></app-cabecera>


<ion-content padding>
        <ion-col >
                <div class="busqueda" >
                <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: lowercase; border-radius: 50px;"></ion-searchbar>
                </div>
                
            </ion-col>
            <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    <div class="titulo">
        <h2 style="color: #BB1D1D; font-weight: bold;">FECHA DE CITAS</h2>
    </div>
    <ion-list>
            <div *ngIf="items.length > 0">
                        <ion-item *ngFor="let item of items">
                       <div *ngIf="item.payload.doc.data().titulo && item.payload.doc.data().titulo.length"  class="contenido">
                            <div *ngIf="item.payload.doc.data().titulo.includes(searchText) ">  
        <ion-card >
            <ion-card-header>
                    <ion-item>
                            <div  text-center class='mes' >{{item.payload.doc.data().titulo}}</div>
                    </ion-item>
            </ion-card-header>
            <ion-card-content>
                    <ion-item>
                        <div  text-center class='mes' >Inicio Cita</div>
                    </ion-item>
                    <ion-item>
                        <div class="diahora" ><span style="margin-left: 10px; font-weight: bold;">{{item.payload.doc.data().inicioCita}}</span></div>
                    </ion-item>
                    <ion-item>
                        <div  text-center class='mes' >Inicio Cita</div>
                    </ion-item>
                    <ion-item>
                        <div class="diahora" ><span style="margin-left: 10px; font-weight: bold;">{{item.payload.doc.data().finalCita}}</span></div>
                    </ion-item>
                    <ion-item>
                        <div text-center class='mes'><h5>Descripcion</h5></div>
                    </ion-item>
                    <ion-item>
                        <div class="diahora" ><span style="margin-left: 10px; font-weight: bold;">{{item.payload.doc.data().descripcion}}</span></div>
                    </ion-item>
                </ion-card-content>
                </ion-card>
                    <hr>
                    <hr>
                </div>
                </div>
                </ion-item>
                </div>
                
    </ion-list>
</ion-content>

