<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 26px; font-weight: normal;">
       &nbsp;&nbsp;Gestión de Citas
      </span>
      
          <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </div>
    </ion-toolbar>
     
  </ion-header>


<ion-content padding>
    <button routerLink="/gestion-citas"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%"></button> 
    <div class="titulo">
        <h2 style="color: #BB1D1D; font-weight: bold;">FECHA DE CITAS</h2>
    </div>
    <div  text-center class='mes' >Febrero</div>
    <div class="diahora" ><span style="margin-left: 10px; font-weight: bold;">Martes</span><span style="margin-left: 70px; font-weight: bold;">7/11/2019</span></div>
    
    <div  text-center class='mes' >Junio</div>
    <div class="diahora" ><span style="margin-left: 10px; font-weight: bold;">Jueves</span><span style="margin-left: 70px; font-weight: bold;">7/11/2019</span></div>
</ion-content>

