<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <ion-back-button color="primary" defaultHref="/"></ion-back-button> 
    <ion-grid *ngFor="let item of items">
        <ion-row>
          <ion-col>
            <div class="pesoIni">
              <p>Peso</p>
              <p class="tconsul"><strong>{{this.item.peso}}</strong> Kg</p>
              <p>IMC xx</p>
            </div>
            </ion-col>
            <div class="pesoPer">
                <p>Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>{{this.item.pesoPerdido}}</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="tconsul">Peso en Consulta</p>
                <p class="tconsul" ><strong>{{this.item.peso}}</strong> Kg</p>
                <p class="tconsul" >IMC {{this.item.imc}}</p> 
              </div>
            </ion-grid>
            <ion-grid text-center *ngFor="let item of items">
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p>Peso</p>
                        <p>Objetivo</p>
                        <p class="tconsul"><strong>{{this.item.pesoObjetivo}}</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p>Estás a</p>
                    <p class="tconsul"><strong>{{this.item.estasObjetivo}}</strong> Kg</p>
                    <p class="obje1">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
              </ion-row>
              <div  >
          <!-- <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button> --> 
            </div>
              <h4>Indice IMC</h4>
              <div class="cont">
                <div class="pesoIde">Peso ideal</div>
                <div class="sobrePe"> Sobre Peso</div>
                <div class="obe">Obesidad</div>
              </div>
              


                  <div>
                    <h4 text-center>Tu IMC</h4>
                    <div text-center>
                    <ion-label><h5>{{this.item.imc}}</h5></ion-label>
                  </div>
                      <progress style="margin-top: 5px; width: 90%" value="{{this.item.imc}}" min="13" max="50"></progress>
                  </div>

            
            </ion-grid> 
</form>

<div style="width:80%; height:30px; background:#BB1D1D; border-radius:30px; color: white; font-weight: bold; margin: 0 auto; margin-top:-20px;">
  <h4>¡Actualiza Tu Peso!</h4>
</div>
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  
    <div class="cajatexto" style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha Consulta" type="date" formControlName="fechaConsulta" class="inputexto" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
      </div>      
    <ion-item>
        <ion-label position="floating" color="primary">Peso Anterior</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="pesoAnterior"></ion-input>
    </ion-item> 
    <ion-item>
        <ion-label position="floating" color="primary">Peso Actual</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="peso"></ion-input>
    </ion-item>
    <ion-item>
        <div><h5>Formula Peso Perdido</h5></div>
          <form method="POST" oninput="resultado.value=parseInt(valor1.value)-parseInt(valor2.value)">
            <div>
          <ion-label>Peso Anterior:</ion-label>
        </div>
        <div>
            <input type="number" id="valor1" value="{{this.item.peso}}">
          </div>
          <div>
            <ion-label>Peso Actual:</ion-label>
          </div>
          <div>
            <input type="number" id="valor2" value="0"> 
          </div>
          <div>
            <ion-label>Peso Perdido</ion-label>
          </div>
            <output name="resultado" for="valor1 valor2"></output>
        </form>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Peso Perdido</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="pesoPerdido"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Peso Objetivo</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="pesoObjetivo"></ion-input>
    </ion-item>
    <ion-item>
        <div><h5>Formula estas de tu objetivo</h5></div>
          <form method="POST" oninput="resultado.value=parseInt(valor1.value)-parseInt(valor2.value)">
            <div>
          <ion-label>Peso Actual:</ion-label>
        </div>
        <div>
            <input type="number" id="valor1" value="{{this.item.peso}}">
          </div>
          <div>
            <ion-label>Peso objetivo:</ion-label>
          </div>
          <div>
            <input type="number" id="valor2" value="0"> 
          </div>
          <div>
            <ion-label>Kg de tu objetivo</ion-label>
          </div>
            <output name="resultado" for="valor1 valor2"></output>
        </form>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">¿A cuanto estas de tu objetivo?</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="estasObjetivo"></ion-input>
    </ion-item>
    <ion-item>
      <div><h5>Formula IMC</h5></div>
        <form method="POST" oninput="resultado.value=parseInt(valor1.value)*parseInt(valor1.value)/parseInt(valor2.value)">
          <div>
        <ion-label>Peso actual:</ion-label>
      </div>
      <div>
          <input type="number" id="valor1" value="{{this.item.peso}}">
        </div>
        <div>
          <ion-label>Altura:</ion-label>
        </div>
        <div>
          <input type="number" id="valor2" value="0"> 
        </div>
        <div>
          <ion-label>IMC</ion-label>
        </div>
          <output name="resultado" for="valor1 valor2"></output>
      </form>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Nuevo IMC</ion-label>
        <ion-input placeholder="Nuevo IMC" type="number" formControlName="imc"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Actualizar Datos</ion-button>
  </form>
</ion-content>



  