<ion-header text-center  padding-top>
  <ion-toolbar>
<div class="contiene">
    <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
    <span text-center style="padding-left:48px;padding-right:48px;font-size: 26px; font-weight: normal;">
     &nbsp;&nbsp;Editar Perfil
    </span>
    
        <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
  </div>
  </ion-toolbar>
   
</ion-header>

<ion-content padding *ngIf="items">
    <button routerLink="/cliente-perfil"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%; margin-top:-10px;"></button>
  <ion-grid *ngFor="let item of items">
     <ion-row  text-center >
         <ion-col col-4 >
             <div style="color:#BB1D1D ;margin-top:15px; font-weight: bold;" >
                Nº Historia
             </div>
             <div class="cajatexto" style="width:55px;"><!-- se le pone estilo propio para no afectar alos demas div-->
                <ion-input  type="text"  class="inputexto" >{{item.payload.doc.data().numeroHistorial}}</ion-input>
             </div> 
         </ion-col>
         <ion-col col-4 >
              <div  class="circular">
                  
                      <img   class="circular" src="{{item.payload.doc.data().image}}" >
                  
               </div>
         </ion-col>
         <ion-col col-4>
               <div style="color:#BB1D1D; margin-top:15px; font-weight: bold;">
                 Fecha </div>
                 <div class="cajatexto" style="width:120px; ">
                      <ion-datetime class="inputexto" >{{item.payload.doc.data().fechaNacimiento}}</ion-datetime>
                 </div>  
         </ion-col>
     </ion-row>
     <ion-row  >
            <ion-col text-center > <div style="color:#BB1D1D; font-size: 20px; font-weight: bold; margin-top: 14px;">Datos </div> </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
              <ion-input class="cajatexto"  > {{item.payload.doc.data().nombreApellido}} </ion-input>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
              <ion-input class="cajatexto" style="margin-left:18px;"  >{{item.payload.doc.data().fechaNacimiento}}</ion-input>
          </ion-col>
          <ion-col col-12>
                  <ion-input class="cajatexto"  style="margin-right:16px;" > {{item.payload.doc.data().ciudad}}</ion-input>
          </ion-col>
        </ion-row>

      <ion-row >
              <ion-col col-12>
                      <ion-input class="cajatexto"  >{{item.payload.doc.data().correo}}</ion-input>
              </ion-col>
      </ion-row>
      <ion-row>
              <ion-col col-12>
                      <ion-input class="cajatexto" type="number"  > {{item.payload.doc.data().telefono}}</ion-input>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col col-12>
                      <ion-input class="cajatexto"  >{{item.payload.doc.data().profesion}} </ion-input>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col col-12>
                      <ion-input class="cajatexto"  >{{item.payload.doc.data().motivoConsulta}}</ion-input>
              </ion-col>
     </ion-row>
     <ion-row>
        <ion-col col-12>
                <ion-input class="cajatexto"  >{{item.payload.doc.data().peso}}</ion-input>
        </ion-col>
</ion-row>
<ion-row>
    <ion-col col-12>
            <ion-input class="cajatexto"  >{{item.payload.doc.data().altura}}</ion-input>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col col-12>
            <ion-input class="cajatexto"  >{{item.payload.doc.data().referencia}}</ion-input>
    </ion-col>
</ion-row>
     <ion-row >
               <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
     </ion-row>
     <ion-row >
                <ion-col >
                    <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
                    <div class="cajatexto">
                        <ion-input  type="text" class="inputexto2" >{{item.payload.doc.data().interNombre}}</ion-input>
                   </div> 
                </ion-col>
      </ion-row>
      <ion-row >
                  <ion-col >
                     <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Enfermedades Anteriores  : </div>
                      <div class="cajatexto" >
                          <ion-input  type="text" class="inputexto2"  >{{item.payload.doc.data().enfermedades}}</ion-input>
                     </div> 
                  </ion-col>
       </ion-row>
       <ion-row >
        <ion-col >
           <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Familiares  : </div>
            <div class="cajatexto" >
                <ion-input  type="text" class="inputexto2"  placeholder="">{{item.payload.doc.data().familiares}}</ion-input>
           </div> 
        </ion-col>
</ion-row>
     <div>
       <ion-row style="text-align:center;" padding-top >
                      <ion-col >
                        <div *ngFor="let item of items" [routerLink]="['/editar', item.payload.doc.id]">
                          <ion-button ion-button class="but" round>Ajustes
                        <!-- <ion-icon name="arrow-round-forward" style="color:white;"></ion-icon> -->
                          </ion-button>
                          </div>
                      </ion-col>
       </ion-row>
     </div>
   </ion-grid>

   
</ion-content>
