<app-cabecera [titulohead]="tituhead"></app-cabecera>
  
<ion-content padding>
    <button routerLink="/tabs/tab2"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%; margin-top:-10px;"></button>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-grid>
          <ion-row>
          <ion-col size="12">
              <h5>Fecha</h5>
                  <ion-item>
                    <ion-input  formControlName="fecha" readonly="true"></ion-input>
                  </ion-item>
          </ion-col>
            <ion-col size="12">
                <h5>Desayuno</h5>
                  <ion-item>
                      <ion-input  formControlName="desayuno" readonly="true"></ion-input>
                    </ion-item>
              </ion-col>
            <ion-col size="12">
                <h5>Media mañana</h5>
                    <ion-item>
                        <ion-input  formControlName="mediaManana" readonly="true"></ion-input>
                      </ion-item>
          </ion-col>
                    <ion-col size="12">
                        <h5>Comida</h5>
                        <ion-item>
                            <ion-input  formControlName="comida" readonly="true"></ion-input>
                          </ion-item>
                </ion-col>
                    <ion-col size="12">
                      <h5>Media tarde</h5>
                            <ion-item>
                                <ion-input  formControlName="mediaTarde" readonly="true"></ion-input>
                              </ion-item>
                    </ion-col>
                <ion-col size="12">
                  <h5>cena</h5>
                                <ion-item>
                                  
                                    <ion-input  formControlName="cena" readonly="true"></ion-input>
                                  </ion-item>
                  </ion-col>
                          </ion-row>
        </ion-grid>
     <!--   <div text-cente> 
            <ion-button *ngIf="isAdmin === true" type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
        </div>-->
</form>

        
          

      <div text-center>
        <ion-button  (click)="delete()">Borrar</ion-button>
      </div>
</ion-content>
  