<app-cabecera [titulohead]="tituhead"></app-cabecera>
  
<ion-content padding>
    <button routerLink="/tabs/tab2"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%; margin-top:-10px;"></button>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-grid>
          <ion-row>
          <ion-col>
              <h5>Nombre</h5>
              <ion-input type="text" formControlName="nombreApellido">{{this.item.nombreApellido}}</ion-input>
          </ion-col>
          <ion-col size="12">
              <h5>Fecha Consulta</h5>
                  <ion-item>
    
                    <ion-input  formControlName="fechaConsulta"></ion-input>
                  </ion-item>
          </ion-col>
            <ion-col size="12">
                <h5>Fecha Último Peso</h5>
                  <ion-item>
                      <ion-input  formControlName="fechaUltimoPeso"></ion-input>
                    </ion-item>
              </ion-col>
            <ion-col size="12">
                <h5>Fecha Último Peso</h5>
                    <ion-item>
                        <ion-input  formControlName="fechaUltimoPeso"></ion-input>
                      </ion-item>
          </ion-col>
                    <ion-col size="12">
                        <h5>Menú</h5>
                        <ion-item>
                            <ion-input  formControlName="menu"></ion-input>
                          </ion-item>
                </ion-col>
                    <ion-col size="12">
                      <h5>Peso Actual</h5>
                            <ion-item>
                                <ion-input  formControlName="pesoActual"></ion-input>
                              </ion-item>
                    </ion-col>
                <ion-col size="12">
                  <h5>Peso Pérdido</h5>
                                <ion-item>
                                  
                                    <ion-input  formControlName="pesoPerdido"></ion-input>
                                  </ion-item>
                  </ion-col>
                    <ion-col size="12">
                      <h5>Semanas</h5>
                                    <ion-item>
                                        <ion-input  formControlName="semanas"></ion-input>
                                      </ion-item>
                          </ion-col>
                          </ion-row>
        </ion-grid>
        <div text-cente> 
            <ion-button *ngIf="isAdmin === true" type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
        </div>
</form>

        
          

      <div text-center>
        <ion-button *ngIf="isAdmin === true"  (click)="delete()">Borrar</ion-button>
      </div>
</ion-content>
  