
<ion-content fullscreen>
 

    <div class="contenedor">
        <ion-item class="close-fake" lines="none" text-center>
            <ion-button (click)="close()" fill="clear" color="light">
              <ion-icon name="close" slot="start"></ion-icon>
              
            </ion-button>
            </ion-item>
            <ul id="lista1">
                <li>
                    <a >Fecha</a>
                </li>
                <li>
                    <span class="separador"> </span><a >Dieta</a>
                </li>
                <li>
                    <span class="separador"> </span><a >Peso Perdido</a>
                </li>
                <li>
                    <span class="separador"> </span><a>Comentario</a>
                </li>
            </ul>        

    </div>

</ion-content>