<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
<ion-content padding style="font-family: Comfortaa">
    <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    
        <ion-item>
            <ion-label position="floating" color="ion-color-dark">Nombre</ion-label>
            <ion-input type="text" formControlName="titulo" [readonly]="false"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="ion-color-dark">Descripción</ion-label>
            <ion-input formControlName="descripcion" [readonly]="false"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="ion-color-dark"><a>Inicio Cita</a></ion-label>
            <ion-input type="text" formControlName="inicioCita" [readonly]="false"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="ion-color-dark"><a>Final Cita</a></ion-label>
            <ion-input type="text" formControlName="finalCita" [readonly]="false"></ion-input>
        </ion-item>
        
        <div *ngIf="isAdmin === true">
            <ion-button fill="outline" expand="block" type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
        </div>
        <div *ngIf="isAdmin === true">
        <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Borrar</ion-button>
        </div>
    </form>
    </ion-content>