<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-back-button color="primary" defaultHref="/"></ion-back-button>
  <ion-content padding>
      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-card>
          <ion-card-header>
            <ion-card-title text-center>Tu dieta diaria</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                <ion-label position="floating">Desayuno</ion-label>
                  <ion-input type="text" placeholder="desayuno" formControlName="desayuno"></ion-input>
                </ion-item>
            <ion-item>
                <ion-label position="floating">Media mañana</ion-label>
              <ion-input type="text" placeholder="Media mañana" formControlName="mediaManana"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Comida</ion-label>
              <ion-input type="text" placeholder="Comida" formControlName="comida"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Media tarde</ion-label>
                <ion-input type="text" placeholder="MediaTarde" formControlName="mediaTarde"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">cena</ion-label>
                  <ion-input type="text" placeholder="Cena" formControlName="cena"></ion-input>
                </ion-item>
            <ion-item>
              <ion-label>Fecha</ion-label>
            <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="event.startTime" formControlName="fecha" [min]="minDate" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Sept, Oct, Nov, Dic"></ion-datetime>--> 
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"  formControlName="fecha" cance-text="Cancelar" done-text="Aceptar"></ion-datetime>
            </ion-item>
      <ion-button type="submit" fill="outline" expand="block" [disabled]="!validations_form.valid" >Crear</ion-button>
  
          </ion-card-content>
        </ion-card>
      </form>
</ion-content>  