<ion-header>
  <ion-toolbar>
    <ion-title>editar-peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-item>
            <ion-label position="floating" color="primary">Nombre del Paciente</ion-label>
            <ion-input type="text" formControlName="nombreApellido"></ion-input>
        </ion-item>
        <div class="cajatexto" style="margin-left:18px;">
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha Consulta" type="date" formControlName="fechaConsulta" class="inputexto" ></ion-datetime>
          </div>
        <ion-item>
            <ion-label position="floating" color="primary">Nuevo Peso</ion-label>
            <ion-input placeholder="Nuevo Peso" type="number" formControlName="peso"></ion-input>
        </ion-item>
        <ion-item>
            <form method="POST" oninput="resultado.value=parseInt(valor1.value)*2/parseInt(valor2.value)">
              <div>
            <ion-label>Altura</ion-label>
          </div>
          <div>
              <input type="number" id="valor1" value="0">
            </div>
            <div>
              <ion-label>Nuevo Peso</ion-label>
            </div>
            <div>
              <input type="number" id="valor2" value="0"> 
            </div>
            <div>
              <ion-label>IMC</ion-label>
            </div>
              <output name="resultado" for="valor1 valor2"></output>
          </form>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Nuevo IMC</ion-label>
            <ion-input placeholder="Nuevo IMC" type="number" formControlName="imc"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Actualizar Datos</ion-button>
    </form>

</ion-content>
