
<ion-content padding style="font-family: Comfortaa">
  <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  
      <ion-item>
          <ion-label position="floating" color="ion-color-dark">Nombre</ion-label>
          <ion-input type="text" formControlName="nombreApellido" [readonly]="false"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" color="ion-color-dark">Fecha Consulta</ion-label>
          <ion-input type="text" formControlName="fechaConstula" [readonly]="false"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" color="ion-color-dark"><a>Fecha Ultimo Peso</a></ion-label>
          <ion-input type="text" formControlName="fechaUltimoPeso" [readonly]="false"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="ion-color-dark"><a>Menu</a></ion-label>
        <ion-input type="text" formControlName="menu" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"><a>Peso Actual</a></ion-label>
      <ion-input type="text" formControlName="pesoActual" [readonly]="false"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="ion-color-dark"><a>Peso Perdido</a></ion-label>
    <ion-input type="text" formControlName="pesoPerdido" [readonly]="false"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" color="ion-color-dark"><a>Semanas Con la Dieta</a></ion-label>
  <ion-input type="text" formControlName="semanas" [readonly]="false"></ion-input>
</ion-item>

    
      <div>
          <ion-button fill="outline" expand="block" type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
      </div>
      <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Borrar</ion-button>
  
  </form>
  </ion-content>