
<ion-header text-center  padding-top>
  <ion-toolbar>
<div class="contiene">
    <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
    <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
    &nbsp;&nbsp;Centro ACU 10
    </span>
    
        <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding-top padding-top>

  <ion-grid *ngIf="items">
    <ion-row  >
        <ion-icon name="ios-add-circle"  name="md-add-circle" routerLink="/proteccion"  class="iconos"></ion-icon>

        <ion-col >
            <div class="busqueda" >
              <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: lowercase; border-radius: 50px;"></ion-searchbar>
            </div>
            
        </ion-col>
      </ion-row>

  <ion-row class="conteBoton" margin-top>
    <ion-col col-4>
        <ion-button ion-button color="primary" (click)="buscamos()" text-center class="but" style="text-align:rigth;"> Buscar  </ion-button>
    </ion-col>
  

<ion-col col-8>
        <ion-button ion-button color="primary" icon-end class="but2" style="text-align:center;">
            Filtrar busqueda
            <ion-icon ios="ios-funnel" md="md-funnel" class="iconBusque"></ion-icon>
          </ion-button>
        
          <div class="tabla"><img src="../../../assets/imgs/bot_cliente_perfil/recuento.png" class="recuento"></div>
        </ion-col>
      </ion-row>
       <div *ngIf="items.length > 0">
        <ion-list>
            <ion-item *ngFor="let item of items" style="--background:whitesmoke">
           <div *ngIf="item.payload.doc.data().nombreApellido && item.payload.doc.data().nombreApellido.length"  class="contenido">
                <div *ngIf="item.payload.doc.data().nombreApellido.includes(searchText) ">  
                  <ul>
    <ion-col>
        <div [routerLink]="['/editar', item.payload.doc.id]"  class="cajabuscador"   >
              <span class="nombreuser">{{item.payload.doc.data().nombreApellido}}</span>
              <div  class="buscado"  >
                  <span class="num_edad">N° {{item.payload.doc.data().numeroHistorial}} </span>
                  <span class="num_edad">{{item.payload.doc.data().edad}} Años</span> 
              </div>
              
              <div class="circular" >
                      <span class="estado"></span><!-- nos dira si esta activo ,frecuente, no viene -->
                      <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
              </div>
              
          <span class="bot_bono">{{item.payload.doc.data().bono}}</span>
      </div>
        
        <!-- se pone fuera para que no le afecte el click general -->
  </ion-col>
  </ul> 
  </div>
  </div>
  </ion-item>
  </ion-list>
  </div>
  </ion-grid>
</ion-content>

