<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding style="font-family: Comfortaa">
    <form class="form centrado animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="tryRegistrar(validations_form.value)">

        <ion-item>
            <ion-input placeholder="Correo Electronico" type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors formulario">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors formulario">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Registrar</ion-button> <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>
</ion-content>
