<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <button routerLink="/cliente-seguimiento"><img src="../../../assets/imgs/retroceso.png" style="margin-top: 5%; color: red; position: absolute; margin-left: 5%"></button> 
    <h4>Mi Peso</h4>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="pesoIni">
              <p>Peso inicial</p>
              <p class="tconsul"><strong>90</strong> Kg</p>
              <p>IMC xx</p>
            </div>
            </ion-col>
            <div class="pesoPer">
                <p>Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>10</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="tconsul">Peso en Consulta</p>
                <p class="tconsul" ><strong></strong> Kg</p>
                <p class="tconsul" >IMC {{this.item.imc}}</p> 
              </div>
            </ion-grid>
            <ion-grid text-center>
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p>Peso</p>
                        <p>Objetivo</p>
                        <p class="tconsul"><strong>65</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p>Estás a</p>
                    <p class="tconsul"><strong>10</strong> Kg</p>
                    <p class="obje1">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
              </ion-row>
              <div *ngFor="let item of items" >
          <!-- <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button> --> 
            </div>
              <h4>Indice IMC</h4>
              <div class="cont">
                <div class="pesoIde">Peso ideal</div>
                <div class="sobrePe"> Sobre Peso</div>
                <div class="obe">Obesidad</div>
              </div>
              


                  <div>
                    <h4 text-center>Tu IMC</h4>
                    <div text-center>
                    <ion-label><h5>{{this.item.imc}}</h5></ion-label>
                  </div>
                      <progress style="margin-top: 5px; width: 90%" value="{{this.item.imc}}" min="1" max="12"></progress>
                  </div>

            
            </ion-grid> 
          
    

</form>

<div>
  <h4>Modifical</h4>
</div>
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
        <ion-label position="floating" color="primary">Nombre del Paciente</ion-label>
        <ion-input type="text" formControlName="nombreApellido"></ion-input>
    </ion-item>
    <div class="cajatexto" style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha Consulta" type="date" formControlName="fechaConsulta" class="inputexto" ></ion-datetime>
      </div>
<!--Formulario inputs bloqueados-->

<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Fecha Nascimiento</ion-label>
  <ion-input class="cajatexto" style="margin-left:18px;"  formControlName="fechaNacimiento" value="{{this.item.fechaNacimiento}}" placeholder="Fecha de Nacimiento" [readonly]="true"></ion-input>
</ion-col>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Ciudad</ion-label>
  <ion-input class="cajatexto" formControlName="ciudad" style="margin-right:16px;" placeholder="Ciudad" value="{{this.item.ciudad}}" [readonly]="true"> </ion-input>
</ion-col>
<ion-row >
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Correo</ion-label>
  <ion-input class="cajatexto" formControlName="correo"  placeholder=" Nuevo Correo" value="{{this.item.correo}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Telefono</ion-label>
  <ion-input class="cajatexto" type="number" formControlName="telefono" value="{{this.item.telefono}}"> </ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Profesion</ion-label>
  <ion-input class="cajatexto" formControlName="profesion" value="{{this.item.profesion}}" [readonly]="true"> </ion-input>
</ion-col>
</ion-row>
<ion-row> 
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Motivo Consulta</ion-label>
  <ion-input class="cajatexto" formControlName="motivoConsulta"  value="{{this.item.motivoConsulta}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
  <ion-label>Peso</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="peso" placeholder="Peso" value="{{this.item.peso}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Altura</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="altura" placeholder="Altura" value="{{this.item.altura}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Edad</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="edad" placeholder="Edad" value="{{this.item.edad}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
    <ion-col col-12 *ngIf="isPasi === true">
        <ion-label>Bono</ion-label>
      <ion-input type="number" class="cajatexto" formControlName="bono" placeholder="Edad" value="{{this.item.bono}}" [readonly]="true"></ion-input>
    </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="isPasi === true">
            <ion-label>Edad</ion-label>
          <ion-input type="number" class="cajatexto" formControlName="citasRestantes" placeholder="Edad" value="{{this.item.citasRestantes}}" [readonly]="true"></ion-input>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 *ngIf="isPasi === true">
                <ion-label>Edad</ion-label>
              <ion-input type="number" class="cajatexto" formControlName="altura" placeholder="Edad" value="{{this.item.altura}}" [readonly]="true"></ion-input>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 *ngIf="isPasi === true">
                    <ion-label>Edad</ion-label>
                  <ion-input type="number" class="cajatexto" formControlName="referencias" placeholder="Edad" value="{{this.item.referencias}}" [readonly]="true"></ion-input>
                </ion-col>
                </ion-row>

                <ion-row *ngIf="isPasi === true">
                    <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
                      <div class="cajatexto">
                        <ion-input formControlName="interNombre"  type="text" class="inputexto2"  value="{{this.item.interNombre}}" [readonly]="true"></ion-input>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Enfermedades Anteriores  : </div>
                      <div class="cajatexto" >
                        <ion-input formControlName="enfermedades"  type="text" class="inputexto2"   value="{{this.item.fechaenfermedades}}" [readonly]="true"></ion-input>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div style="font-weight: bold; margin: 5px"> Familiares:</div>
                      <ion-input formControlName="familiares" placeholder="Seleccionar" value="{{this.item.familiares}}" readonly="true"></ion-input>
                    </ion-col>
                  </ion-row>


<!--------------------------------------------------------------------------->


    <ion-item>
        <ion-label position="floating" color="primary">Nuevo Peso</ion-label>
        <ion-input placeholder="Nuevo Peso" type="number" formControlName="peso"></ion-input>
    </ion-item>
    <ion-item>
      <div><h5>Formula IMC</h5></div>
        <form method="POST" oninput="resultado.value=parseInt(valor1.value)*2/parseInt(valor2.value)">
          <div>
        <ion-label>Altura</ion-label>
      </div>
      <div>
          <input type="number" id="valor1" value="0">
        </div>
        <div>
          <ion-label>Nuevo Peso</ion-label>
        </div>
        <div>
          <input type="number" id="valor2" value="0"> 
        </div>
        <div>
          <ion-label>IMC</ion-label>
        </div>
          <output name="resultado" for="valor1 valor2"></output>
      </form>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Nuevo IMC</ion-label>
        <ion-input placeholder="Nuevo IMC" type="number" formControlName="imc"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Actualizar Datos</ion-button>
</form>
</ion-content>



  