<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding margin-top>
  <button routerLink="/cliente-perfil"><img src="../../../assets/imgs/retroceso.png" style="margin-top: 5%; color: red; position: absolute; margin-left: 5%"></button> 
<h4>SEGUIMIENTO</h4>
<ion-grid margin-top>
<ion-row margin-top>
<ion-col>
    <div  routerLink="/lista-paciente-peso" class="bot bot_irHistoryClinico">
        <img src="../../../assets/imgs/bot_cliente_seguimiento/pesa.png">
        <p class="texto">Mi Peso</p>
      </div>
</ion-col>
<ion-col>
     <div  routerLink="/diario-ejercicio" class="bot bot_irHistoryClinico">
        <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
        <p>Diario de Ejercicio</p>
      </div>
</ion-col>
</ion-row>
<ion-row margin-top>
  <ion-col>
        <div  routerLink="/diario" class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/diario.png">
            <p>Diario</p>
          </div>
  </ion-col>
  <ion-col>
        <div  routerLink="/nueva-cita"class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/Nueva1-cita.png">
            <p>Añadir Nueva Cita</p>
          </div>
  </ion-col>
</ion-row>

</ion-grid>
</ion-content>