@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.dayview-allday-table{
    display: none;
}

.weekview-allday-table{
    display: none;
}
.weekview-normal-event-container{
    margin-top: 37px;
 }

 .event-detail-container{
    display: none;
}

ion-back-button{
    --color:#BB1D1D;
    --background:red;
}