<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
    <ion-back-button defaultHref="/"></ion-back-button>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-card>
        <ion-card-header (click)="collapseCard = !collapseCard">
          <ion-card-title text-center>Reservar Cita</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="collapseCard">
          <ion-item>
            <ion-input type="text" placeholder="Nombre" [(ngModel)]="event.title" formControlName="titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc" formControlName="descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha</ion-label>
          <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="event.startTime" formControlName="fecha" [min]="minDate" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Sept, Oct, Nov, Dic"></ion-datetime>--> 
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
        </ion-item>
          <ion-item>
              <ion-label>Hora Inicio</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="inicioCita"  month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Sept, Oct, Nov, Dic" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </ion-item>
          <ion-item>
            <ion-label>Hora Final</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="finalCita"  month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agos, Sept, Octubre, Nov, Dic" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
          </ion-item>
    <ion-button type="submit" fill="outline" expand="block" [disabled]="!validations_form.valid" >Añadir Cita</ion-button>

        </ion-card-content>
      </ion-card>
    </form>

      <div class="meses">{{viewTitle}}</div>
      <ion-row margin-top style="margin-top:40px">
          <ion-col size="6" text-left>
            <ion-button fill="clear" (click)="back()" class="flechas">
              <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          
          <!-- Move forward one screen of the slides -->
          <ion-col size="6" text-right>
            <ion-button fill="clear" (click)="next()" class="flechas">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>




    <calendar
    [locale]="locale"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="5"
    startingDayWeek="1"
    >
  </calendar>

  <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title text-center><h5>Citas de {{item.payload.doc.data().titulo}}</h5></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ul>
              <div>
                  <ion-col size="12">
                      <h5>Titulo</h5>
                      <ion-label>{{item.payload.doc.data().titulo}}</ion-label>
                  </ion-col>
              </div>
              <div>
                  <ion-col size="12">
                      <h5>Descripcion</h5>
                      <ion-label>{{item.payload.doc.data().descripcion}}</ion-label>
                  </ion-col>
      
              </div>
              <div>
                  <ion-col size="12">
                      <h5>Fecha</h5>
                      <ion-label>{{item.payload.doc.data().fecha}}</ion-label>
                  </ion-col>
      
              </div>
              <div>
                  <ion-col size="12">
                      <h5>Hora Inicio</h5>
                      <ion-label>{{item.payload.doc.data().inicioCita}}</ion-label>
                  </ion-col>
      
              </div>
              <div>
                  <ion-col size="12">
                      <h5>Hora Fin</h5>
                      <ion-label>{{item.payload.doc.data().finalCita}}</ion-label>
                  </ion-col>
              </div>
              <hr>
              <hr>
            </ul>
      </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
  <ion-button text-center expand="block" (click)="onLogout()">Salir</ion-button>
</ion-footer>
