<ion-header text-center  padding-top>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="cliente-seguimiento"></ion-back-button>
            </ion-buttons>
<div class="contiene">
    <span text-center style="font-size: 26px; margin-left: -20%; font-weight: normal;">
     &nbsp;&nbsp;Nueva Cita
    </span>
    
        <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-card>
        <ion-card-header (click)="collapseCard = !collapseCard">
          <ion-card-title text-center>Reservar Cita</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="collapseCard">
          <ion-item>
            <ion-input type="text" placeholder="Título" [(ngModel)]="event.title" formControlName="titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc" formControlName="descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Inicia Cita</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMMM D:HH:mm" [(ngModel)]="event.startTime" formControlName="inicioCita" [min]="minDate" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Sept, Oct, Nov, Dic"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Finaliza Cita</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMMM D:HH:mm" [(ngModel)]="event.endTime" formControlName="finalCita" [min]="minDate" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agos, Sept, Octubre, Nov, Dic"></ion-datetime>
          </ion-item>
    <ion-button type="submit" fill="outline" expand="block" [disabled]="!validations_form.valid" >Añadir Cita</ion-button>

        </ion-card-content>
      </ion-card>
    </form>

      <div class="meses">{{viewTitle}}</div>
      <ion-row margin-top style="margin-top:40px">
          <ion-col size="6" text-left>
            <ion-button fill="clear" (click)="back()" class="flechas">
              <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          
          <!-- Move forward one screen of the slides -->
          <ion-col size="6" text-right>
            <ion-button fill="clear" (click)="next()" class="flechas">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>




    <calendar
    [locale]="locale"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="5"
    startingDayWeek="1"
    >
  </calendar>


</ion-content>
