<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
<button routerLink="/tabs/tab1"><img src="../../../assets/imgs/retroceso.png" style="background: none; position: absolute; margin-top: -15px;"></button>
  <div class="cont_titulos">
    <div >Ejercicio</div>
    <div>Tiempo</div>
   <div class="dias">Días</div>
  </div>
  <div class="info">
    <div><img src="../../../assets/imgs/ejercicios/natacion.png" style="width:60px; height: 60px;"><br>
    <p style="font-size:10px">Natación</p></div>
    <div>60 Min</div>
    <div style="padding-right:10px">Lunes<br> Martes <br>Miercoles</div>
  </div>
  <div class="info">
      <div><img src="../../../assets/imgs/ejercicios/correr.png" style="width:60px; height: 60px;"><br>
      <p style="font-size:10px">Correr/Andar</p></div>
      <div>60 Min</div>
      <div style="padding-right:10px">Lunes<br> Martes <br>Miercoles</div>
    </div>
    <div class="info">
        <div><img src="../../../assets/imgs/ejercicios/pesas.png" style="width:60px; height: 60px;"><br>
        <p style="font-size:10px">Pesas</p></div>
        <div>60 Min</div>
        <div style="padding-right:10px">Lunes<br> Martes <br>Miercoles</div>
      </div>
      <div class="info">
          <div><img src="../../../assets/imgs/ejercicios/alza.png" style="width:60px; height: 60px;"><br>
          <p style="font: size 10px;">GYM</p></div>
          <div>60 Min</div>
          <div style="padding-right:10px">Lunes<br> Martes <br>Miercoles</div>
        </div>
        <div class="info">
            <div><img src="../../../assets/imgs/ejercicios/estiramiento.png" style="width:60px; height: 60px;"><br>
            <p style="font-size:10px">Otro</p></div>
            <div>60 Min</div>
            <div style="padding-right:10px">Lunes<br> Martes <br>Miercoles</div>
          </div>
          <footer >
      Distancia Recorrida:
            <div>2.1Km <img src="../../../assets/imgs/ejercicios/andar.png" style="width:30px; height: 30px;"></div>
          </footer>

</ion-content>
