<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding margin-top>
    <h4>
      <button routerLink="/nueva-dieta"><img src="../../../assets/imgs/retroceso.png" style="background: none; position: absolute; margin-left: -100px; margin-top: -15px;"></button> 
      Menús
    </h4>
    <ion-grid margin-top>
    <ion-row margin-top>
        <ul *ngFor="let item of items" >
            <ion-col [routerLink]="['/detalles-menu-hipocalorica', item.payload.doc.id]">
                <div   class="bot bot_irHistoryClinico">
                  <img src="../../../assets/imgs/bot_cliente_seguimiento/menus.png">
                    <p style="font-size:13px; font-weight: bold; margin-top:-20%">{{item.payload.doc.data().nombreMenu}}</p>
                  </div>
            </ion-col>
            </ul>
          </ion-row>
          <ion-row>

      <div *ngIf="isAdmin === true"   class="bot2 bot_irHistoryClinico"  (click)="crearDietaHipo()">
         <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos"></ion-icon>
         <p style="font-size:13px; font-weight: bold; margin-top:-5%" (click)="crearDietaHipo()">Añadir Dieta</p>
       </div>

</ion-row>
            
    </ion-grid>
</ion-content>
