<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Dietas Hipocalorícas
      </span>
      
          <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </div>
    </ion-toolbar>
     
</ion-header>

<ion-content padding margin-top>
    <h4>
      <button routerLink="/nueva-dieta"><img src="../../../assets/imgs/retroceso.png" style="background: none; position: absolute; margin-left: -100px; margin-top: -15px;"></button> 
      Menús
    </h4>
    <ion-grid margin-top>
    <ion-row margin-top>
    <ion-col>
        <div  class="bot bot_asignado">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/menus.png">
            <p style="font-size:13px; font-weight: bold; margin-top:-25%"> Asignado<br>Menú 1 </p>
          </div>
    </ion-col>
    <ion-col>
      <div   class="bot bot_irHistoryClinico" >
         <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos"></ion-icon>
         <p style="font-size:13px; font-weight: bold; margin-top:-5%">Añadir Dieta</p>
       </div>
 </ion-col>
            </ion-row>
    </ion-grid>
</ion-content>
