<app-cabecera [titulohead]="tituhead"></app-cabecera>

    <ion-content padding margin-top>
    <button routerLink="/cliente-seguimiento"><img src="../../../assets/imgs/retroceso.png" style="margin-top: 5%; color: red; position: absolute; margin-left: 5%"></button> 
    <h4>DIETAS</h4>
    <ion-grid margin-top>
    <ion-row margin-top>
    <ion-col (click)="diarioDietetico()">
        <div class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/diarioDietetico.png">
            <p style="font-size:14px">Diario Dietetico</p>
            </div>
    </ion-col>
    <ion-col>
        <div  routerLink="/nueva-dieta" class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/nuevadieta.png">
            <p style="font-size:14px">Nueva Dieta</p>
            </div>
    </ion-col>
    <ion-col (click)="diarioDietetico()">
          <button>diario</button>
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
