
<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-back-button color="primary" defaultHref="/"></ion-back-button>
<ion-content padding>
    
  <div class="fondo">
    <ion-card *ngFor="let item of items" style="margin-bottom:50px; margin-top:10px; border-radius: 20px; height: 400px;">
        <ion-card-header style="background:#BB1D1D">
          <ion-card-title text-center><h5 style="color:white; font-weight: bold">Ejercicios de {{item.payload.doc.data().titulo}}</h5></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <div>
                    <ion-col size="12">
                        <h5>Mi Nombre</h5>
                        <ion-label>{{item.payload.doc.data().titulo}}</ion-label>
                    </ion-col>
                </div>
                <div>
                    <ion-col size="12">
                        <h5>Descripción</h5>
                        <ion-label>{{item.payload.doc.data().descripcion}}</ion-label>
                    </ion-col>
        
                </div>
                <div>
                    <ion-col size="12">
                        <h5>Fecha</h5>
                        <ion-label>{{item.payload.doc.data().fecha}}</ion-label>
                    </ion-col>
        
                </div>
                <div>
                    <ion-col size="12">
                        <h5>Hora Inicio</h5>
                        <ion-label>{{item.payload.doc.data().horaInicio}}</ion-label>
                    </ion-col>
        
                </div>
                <div>
                    <ion-col size="12">
                        <h5>Hora Fin</h5>
                        <ion-label>{{item.payload.doc.data().horaFinal}}</ion-label>
                    </ion-col>
                </div>
                <hr>
                <hr>
            </ul>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
