<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <button routerLink="/cliente-perfil"><img src="../../../assets/imgs/retroceso.png" style="color: red; position: absolute; margin-left: 5%; margin-top:-10px;"></button> 
  <ion-grid>
    <ion-row  text-center >
        <ion-col col-4 >
            <div style="color:#BB1D1D ;margin-top:15px; font-weight: bold;" >
                Nº Historia
            </div>
            <div class="cajatexto" style="width:55px;"><!-- se le pone estilo propio para no afectar alos demas div-->
                <ion-input formControlName="numeroHistorial"  type="text"  class="inputexto2" placeholder="Añadir" style="margin-left:-10px" ></ion-input>
            </div> 
        </ion-col>
        <ion-col col-4 >
            <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos" (click)="openImagePicker()"></ion-icon>
              <div class="circular">
                  <img   class="circular" [src]="image" >
              </div>
        </ion-col>
        <ion-col col-4>
              <div style="color:#BB1D1D; margin-top:15px; font-weight: bold;">
                Fecha </div>
                <div class="cajatexto" style="width:100px;">
                      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" ></ion-datetime>
                </div>  
        </ion-col>
    </ion-row>
    <ion-row  >
        <ion-col text-center > <div style="color:#BB1D1D; font-size: 20px; font-weight: bold; margin-top: 14px;">Datos </div> </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12>
          <div class="cajatexto">    
          <ion-input placeholder="Nombre Apellido" type="text" formControlName="nombreApellido" class="inputexto2"></ion-input>
        </div> 
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12>
          <div class="cajatexto" style="margin-left:18px;">
          <!--
          <ion-input placeholder="Nombre Restaurante" type="text" formControlName="fechaNacimiento"></ion-input>
          -->
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha de Nacimiento" type="date" formControlName="fechaNacimiento" class="inputexto" ></ion-datetime>
            </div>
        </ion-col>
      <ion-col col-12>
              <div class="cajatexto" style="margin-right:16px;">
              <ion-input placeholder="Ciudad" type="text" formControlName="ciudad" class="inputexto2"></ion-input> 
            </div>
      </ion-col>
    </ion-row>

  <ion-row >
          <ion-col col-12>
                  <div class="cajatexto">  
                  <ion-input placeholder="Correo" type="email" formControlName="correo" class="inputexto2"></ion-input>
                </div>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col col-12>
                  <div class="cajatexto"> 
                  <ion-input placeholder="Teléfono" type="text" formControlName="telefono" class="inputexto2"></ion-input> 
                </div>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col col-12>
                  <div class="cajatexto">   
                  <ion-input placeholder="Profesión" type="text" formControlName="profesion" class="inputexto2"></ion-input> 
                </div>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col col-12>
                  <div class="cajatexto">
                  <ion-input placeholder="Motivo de consulta" type="text" formControlName="motivoConsulta" class="inputexto2"></ion-input> 
                </div>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
                    <div class="cajatexto">
                    <ion-input placeholder="Referencia" type="text" formControlName="referencia" class="inputexto2"></ion-input> 
                  </div>
            </ion-col>
        </ion-row>
   <!--   <ion-row>
        <ion-col col-12>
          <form method="POST" oninput="resultado.value=parseInt(valor1.value)*2/parseInt(valor2.value)">
            <div>
          <ion-label>Altura</ion-label>
        </div>
        <div>
            <input type="number" id="valor1" value="0">
          </div>
          <div>
            <ion-label>Peso</ion-label>
          </div>
          <div>
            <input type="number" id="valor2" value="0"> 
          </div>
          <div>
            <ion-label>IMC</ion-label>
          </div>
            <output name="resultado" for="valor1 valor2"></output>
        </form>
        </ion-col>
      </ion-row> -->  
        <ion-row>
          <ion-col col-12>
                  <div class="cajatexto"  style="margin-left:18px;"> 
                  <ion-input placeholder="Altura en CM" type="text" formControlName="altura" class="inputexto2"></ion-input> 
                  </div>
          </ion-col>
          <ion-col col-12>
            <div class="cajatexto"  style="margin-left:10px;"> 
            <ion-input placeholder="Añade Peso" type="text" formControlName="peso" class="inputexto2"></ion-input> 
            </div>
    </ion-col>
    <ion-col col-12>
      <div class="cajatexto"  style="margin-right:16px;"> 
      <ion-input placeholder="Agrega el IMC" type="number" formControlName="imc" class="inputexto2"></ion-input> 
      </div>
</ion-col>
    <ion-col col-12>
      <div class="cajatexto"  style="margin-right:16px;"> 
      <ion-input placeholder="Edad" type="number" formControlName="edad" class="inputexto2"></ion-input> 
      </div>
</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="bono"  style="margin-left:16px;"> 
            <ion-input placeholder="BONOS" type="number" formControlName="bono"></ion-input> 
            </div>  
          </ion-col>
          </ion-row>
     <ion-row >
               <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
     </ion-row>
     <ion-row >
                <ion-col >
                    <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
                    <div class="cajatexto">
                      <ion-input placeholder="" type="text" formControlName="interNombre"></ion-input>
                   </div> 
                </ion-col>
      </ion-row>
      <ion-row >
                  <ion-col >
                     <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Enfermedades Anteriores  : </div>
                      <div class="cajatexto" >
                        <ion-input placeholder="" type="text" formControlName="enfermedades"></ion-input>
                     </div> 
                  </ion-col>
       </ion-row>
       <ion-row >
              <ion-col >
                   <div style="font-weight: bold; margin: 5px"> Familiares:</div> 
                 <div  style="margin-bottom:5px; display: flex; align-content: center">
                  <ion-select formControlName="familiares" placeholder="Seleccionar">
                      <ion-select-option value="diabetes">Diabetes</ion-select-option>
                      <ion-select-option value="cardiopatia">Cardiopatia</ion-select-option>
                      <ion-select-option value="obesidad">Obesidad</ion-select-option>
                  <!--  <span class='padece'>Diabetes<ion-checkbox  [(ngModel)]="diabetes" style="margin-left: 10px" ></ion-checkbox> </span>
                    <span class='padece'>Cardiopatia<ion-checkbox  [(ngModel)]="cardiopatia" style="margin-left: 17px"  ></ion-checkbox></span>
                    <br><span class='padece'>Obesidad<ion-checkbox  [(ngModel)]="obesidad" style="margin-left: 15px"  ></ion-checkbox></span>   -->
                  </ion-select>
                </div>
                 
              </ion-col>
   </ion-row>
     
       <ion-row style="text-align:center;" padding-top >
                      <ion-col >
                          <ion-button ion-button class="but" type="submit" [disabled]="!validations_form.valid" round>Agregar
                        <!-- <ion-icon name="arrow-round-forward" style="color:white;"></ion-icon> -->
                          </ion-button>
                      </ion-col>
       </ion-row>
   </ion-grid>
   </form>
</ion-content>
