<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
    <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  
  <ion-grid>
    <ion-row  text-center >
        <ion-col col-4 >
            <div style="color:#BB1D1D ;margin-top:15px; font-weight: bold;" >
                Nº Historial
            </div>
            <div class="cajatexto" style="width:55px;"><!-- se le pone estilo propio para no afectar alos demas div-->
                <ion-input formControlName="numeroHistorial"  type="text"  class="inputexto2" placeholder="Añadir" style="margin-left:-10px" style="text-transform: lowercase; margin-left: -5px"></ion-input>
            </div> 
        </ion-col>
        <ion-col col-4 >
            <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos" (click)="getPicture()"></ion-icon>
              <div class="circular">
                  <img   class="circular" [src]="image" *ngIf="image" >
              </div>
        </ion-col>
        <ion-col col-4>
              <div style="color:#BB1D1D; margin-top:15px; font-weight: bold;">
                Fecha </div>
                <div class="cajatexto" style="width:100px;">
                      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
                </div>  
        </ion-col>
    </ion-row>
    <ion-row  >
        <ion-col text-center > <div style="color:#BB1D1D; font-size: 20px; font-weight: bold; margin-top: 14px;">Datos </div> </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12>
          <div class="cajatexto">    
          <ion-input placeholder="Nombre y Apellido" style="text-transform:lowercase" type="text" formControlName="nombreApellido" class="inputexto2"></ion-input>
        </div> 
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12>
          <div class="cajatexto" style="margin-left:18px;">
          <!--
          <ion-input placeholder="Nombre Restaurante" type="text" formControlName="fechaNacimiento"></ion-input>
          -->
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha de Nacimiento" type="date" formControlName="fechaNacimiento" class="inputexto" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </div>
        </ion-col>
      <ion-col col-12>
              <div class="cajatexto" style="margin-right:16px;">
              <ion-input placeholder="Ciudad" type="text" formControlName="ciudad" class="inputexto2" style="text-transform: lowercase"></ion-input> 
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
          <div class="cajatexto"  > 
          <ion-input placeholder="Edad" type="number" formControlName="edad" class="inputexto2"></ion-input> 
          </div>
    </ion-col>
    </ion-row>

  <ion-row >
          <ion-col col-12>
                  <div class="cajatexto">  
                  <ion-input placeholder="Correo" type="email" formControlName="correo" class="inputexto2"></ion-input>
                </div>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col col-12>
                  <div class="cajatexto"> 
                  <ion-input placeholder="Teléfono" type="number" formControlName="telefono" class="inputexto2"></ion-input> 
                </div>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col col-12>
                  <div class="cajatexto">   
                  <ion-input placeholder="Profesión" type="text" formControlName="profesion" class="inputexto2" style="text-transform: lowercase" ></ion-input> 
                </div>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col col-12>
                  <div class="cajatexto">
                  <ion-input placeholder="Motivo de consulta" type="text" formControlName="motivoConsulta" class="inputexto2" style="text-transform: lowercase"></ion-input> 
                </div>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
                    <div class="cajatexto">
                    <ion-input placeholder="Referencia" type="text" formControlName="referencia" class="inputexto2" style="text-transform:lowercase"></ion-input> 
                  </div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
                  <div class="cajatexto" > 
                  <ion-input placeholder="Altura en Metros" type="number" formControlName="altura" class="inputexto2"></ion-input> 
                  </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="cajatexto" > 
            <ion-input placeholder="Añade Peso" type="number" formControlName="peso" class="inputexto2"></ion-input> 
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
            <div class="cajatexto">
              <ion-input placeholder="Peso Anterior" type="number" formControlName="pesoAnterior" class="inputexto2"></ion-input>
            </div>
            </ion-col>
          </ion-row>
          <ion-row>

          <ion-col col-12> 
              <div class="cajatexto">
                <ion-input placeholder="Peso Perdido" type="number" formControlName="pesoPerdido" class="inputexto2"></ion-input>
              </div>
              </ion-col>
            </ion-row>
            <ion-row>
            <ion-col col-12>
                <div class="cajatexto">
                <ion-input placeholder="Peso Objetivo" type="number" formControlName="pesoObjetivo" class="inputexto2"></ion-input>
              </div>
              </ion-col>
            </ion-row>
            <ion-row>
            <ion-col col-12>
             <div class="cajatexto">
                <ion-input class="inputexto2" placeholder="¿A cuánto estás de tu Objetivo?" type="number" formControlName="estasObjetivo"></ion-input>
              </div>
              </ion-col>
              </ion-row>
  <ion-row>
    <ion-col col-12>
        <div style="margin-top: 20px; margin-left: 33%"><h5 style="color:#BB1D1D ">Formula IMC</h5></div>
        <div>

            <div style="margin-top: 20px"><p style="color:#BB1D1D "> Añade peso:</p></div>            
        <input class="inputexto2" [(ngModel)]="peso" [ngModelOptions]="{standalone: true}" placeholder="Peso" />
        <div style="margin-top: 20px;"><p style="color:#BB1D1D "> Añade Altura en Metros:</p></div>
        <input class="inputexto2" [(ngModel)]="altura" [ngModelOptions]="{standalone: true}" placeholder="Altura" />

        <div *ngIf="peso && altura">
            <div style="margin-top: 20px;"><p style="color:#BB1D1D ">Su IMC es: </p></div>
          <ion-input type="number" step="0.01" formControlName="imc" class="inputexto2"  value="{{ bmi.toFixed(2) }}">
        </ion-input>
      </div>
      </div>
    </ion-col>
  </ion-row>   
  <ion-row>
</ion-row>
        <ion-row>
          <ion-col col-12>
              <div style="margin-top: 20px; margin-left: 33%"><h5 style="color:#BB1D1D ">Añade sus bonos</h5></div>
            <div class="bono"  style="margin-left:16px;">
            
            <ion-input placeholder="Bonos" type="number" formControlName="bono"></ion-input> 
            </div>  
          </ion-col>
          </ion-row>
              
    <ion-row >
              <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
    </ion-row>
    <ion-row >
                <ion-col >
                    <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
                    <div class="cajatexto">
                      <ion-input placeholder="" type="text" formControlName="interNombre" style="text-transform: lowercase"></ion-input>
                  </div> 
                </ion-col>
      </ion-row>
      <ion-row >
                  <ion-col >
                    <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Enfermedades Anteriores  : </div>
                      <div class="cajatexto" >
                        <ion-input placeholder="" type="text" formControlName="enfermedades" style="text-transform: lowercase"></ion-input>
                    </div> 
                  </ion-col>
      </ion-row>
      <ion-row >
              <ion-col >
                  <div style="font-weight: bold; margin: 5px"> Familiares:</div> 
                <div  style="margin-bottom:5px; display: flex; align-content: center">
                  <ion-select cancelText="Cancelar" okText="Aceptar!" formControlName="familiares" placeholder="Seleccionar">
                      <ion-select-option value="Ninguno">Ninguno</ion-select-option>
                      <ion-select-option value="diabetes">Diabetes</ion-select-option>
                      <ion-select-option value="cardiopatia">Cardiopatia</ion-select-option>
                      <ion-select-option value="obesidad">Obesidad</ion-select-option>
                  </ion-select>
                </div>
                
              </ion-col>
  </ion-row>
    
      <ion-row style="text-align:center;" padding-top >
                      <ion-col >
                          <ion-button ion-button class="but" type="submit" [disabled]="!validations_form.valid" round>Agregar
                        <!-- <ion-icon name="arrow-round-forward" style="color:white;"></ion-icon> -->
                          </ion-button>
                      </ion-col>
      </ion-row>
  </ion-grid>
  </form>
</ion-content>
