 <app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding>
    <div >
        <ion-list>
          <ion-item *ngFor="let item of items">
            <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
            <div class="card mb-3" style="max-width: 540px; background: #BB1D1D">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <ion-item [routerLink]="['/detalles-diario', item.payload.doc.id]">
                    <ion-label>{{item.payload.doc.data().menu}}</ion-label>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
  <ion-button size="12" expand="block" (click)="diarioDietetico()">Añadir al diario</ion-button>

</ion-content>
