<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
<ion-grid>
  <ion-row >
    <ion-col>
        <button routerLink="/cliente-perfil"><img [src]="image" style="color: red; position: absolute; margin-left: 5%"></button> 
          <div class="circular">
            <img (click)="openImagePicker()"   class="circular" src="../../../assets/imgs/foto_cliente.jpg" >
        </div>
    </ion-col>
  </ion-row>
  <form *ngFor="let item of items" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <ion-row style='margin-bottom:10px;'>
      <ion-col text-center>
          <ion-input type="text" class="input_texto" formControlName="nombreCliente" placeholder="Nombre Paciente" [readonly]="false"></ion-input>
          <p style='margin-bottom:5px;font-weight:bold;'></p>
          <p style='margin-bottom:10%;'> Nº Hist {{item.payload.doc.data().numeroHistorial}} &nbsp;&nbsp; {{item.payload.doc.data().edad}} años</p>
          <div>
            <p class="bono">Bono citas</p>
            <ion-input class="bot_bono" type="text" class="input_texto" formControlName="bonoCitas" placeholder="0" >0</ion-input>
          </div>
        
    </ion-col>
    </ion-row >
    
    <ion-row class="centrar">
      
        <ion-col col-5 text-center class="fila_abajo fila_lado" >
            Bono
            </ion-col>
            <ion-col col-5 text-center class="fila_medio">
            Fecha de<br> Bono
          </ion-col>
          <ion-col col-5 text-center class="fila_abajo">
              Citas Restantes
            </ion-col>
  
  
  </ion-row>

    <ion-row  >
        <ion-col col-5 class="fila_lado" >
            <div class="cajatexto" style="width:90%;  font-weight: bold; margin: 5% ">
                <span style="margin-top: -5px; margin-left: 1px">Bono 8<ion-checkbox formControlName="bonoOcho" value="8" checked="false" style="margin-left: 17px; margin-top: 5px; --border-style:none; "  ></ion-checkbox></span>
            </div>
            <div class="cajatexto" style="width:90%; font-weight: bold; margin: 5% ">
              <span style="margin-top: -5px; margin-left: 1px">Bono 4<ion-checkbox formControlName="bonoCuatro" value="4" checked="false" style="margin-left: 17px; margin-top: 5px; --border-style:none;"  ></ion-checkbox></span>
            </div>
            <div class="cajatexto" style="width:90%; margin: 5%">
                <ion-input type="number" class="input_texto" formControlName="bonoManual" placeholder="0" ></ion-input>
            </div>
        </ion-col>
        <ion-col col-5 class="fila_medio">
            <div class="cajatexto" style="width:50%;">
                <ion-datetime display-format="DD-MM-YYYY" formControlName="fechaBono" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
              </div>
        </ion-col>
        <ion-col col-5>
                <div text-center>
        <ion-input type="number" placeholder="0" formControlName="citasRestantes"></ion-input>
            </div>
        </ion-col>
      </ion-row>
      <ion-button color="primary" type="submit" style="margin-left: 35%;margin-top: 10%; --border-radius: 20px;" [disabled]="!validations_form.valid "  round >Aceptar</ion-button>
      <!--(click)="Acreditados()"-->

    </form>
</ion-grid>  
    </ion-content>