
<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="45"  src="../../../assets/imgs/logo.png" class="logo">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Seguimiento
      </span>
      
          <img class="chat" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </div>
    </ion-toolbar>
     
</ion-header>
<ion-content>
  <button routerLink="/cliente-seguimiento"><img src="../../../assets/imgs/retroceso.png" style="margin-top: 5%; color: red; position: absolute; margin-left: 5%"></button> 
    <h4>Mi Peso</h4>
    <ion-grid *ngFor="let item of items">
        <ion-row>
          <ion-col>
            <div class="pesoIni">
              <p>Peso inicial</p>
              <p class="tconsul"><strong>90</strong> Kg</p>
              <p>IMC xx</p>
            </div>
            </ion-col>
            <div class="pesoPer">
                <p>Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>10</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="tconsul">Peso en Consulta</p>
                <p class="tconsul"><strong>{{item.payload.doc.data().peso}}</strong> Kg</p>
                <p class="tconsul">IMC 25,23</p> 
              </div>
            </ion-grid>
            <ion-grid text-center>
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p>Peso</p>
                        <p>Objetivo</p>
                        <p class="tconsul"><strong>65</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p>Estás a</p>
                    <p class="tconsul"><strong>10</strong> Kg</p>
                    <p class="obje1">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
              </ion-row>
              <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button>
              <h4>Indice IMC</h4>
              <div class="cont">
                <div class="pesoIde">Peso ideal</div>
                <div class="sobrePe"> Sobre Peso</div>
                <div class="obe">Obesidad</div>
              </div>
              


                  <div *ngFor="let item of items">
                    <div text-center>
                    <ion-label><h5>{{item.payload.doc.data().peso}}<span>KG</span></h5></ion-label>
                  </div>
                      <progress style="margin-top: 5px; width: 90%" value="{{item.payload.doc.data().peso}}" min="40" max="800"></progress>
                  </div>

              


            </ion-grid> 
            

</ion-content>
